---
layout: portfolio
---

{{ content }}

{% assign works = site.portfolio | where:"layout","piece" | where:"colection_name",page.colection_name %}

<article id="collection">
    <nav>
        <ul>
        {% for piece in works %}
        <li data-availability="{{piece.availability}}">
            <dl>
              <dt>Availability</dt>
              <dd>{{piece.availability}}</dd>
            </dl>
            <h2><a href="{{site.baseurl}}{{piece.url }}">{{ piece.title | truncate:20,'...' }}</a></h2>
            <a href="{{site.baseurl}}{{piece.url }}">
              <img src="/images/portfolio/{{piece.colection_name}}/1/{{piece.id}}.thumb.jpg">
            </a>
        </li>
        {% endfor %}
        </ul>
    </nav>
</article>
