---
layout: portfolio
---

{{ content }}

{% assign works = site.portfolio | where:"layout","piece" | where:"collection_",page.collection_ %}

<article id="collection">
    <nav>
        <ul>
        {% for portfolio in works %}
        <li>
            <h2><a href="{{site.baseurl}}{{portfolio.url }}">{{ portfolio.title | truncate:20,'...' }}</a></h2>
            <a href="{{site.baseurl}}{{portfolio.url }}"><img src="{{site.baseurl}}/images/portfolio/{{portfolio.collection_}}/{{portfolio.image}}" width="100" height="100"></a>
        </li>
        {% endfor %}
        </ul>
    </nav>
</article>