<!DOCTYPE html>
<html>
<head>
    <title>
        {% if page.title %}
        {{ page.title }} +
        {% endif %}
        Debra Pollard Art - painting, beading, quilting, print making
    </title>
</head>
<body data-section="{{page.section}}">

<header>
    <h1><a href="{{site.baseurl}}/">Debra Pollard Art</a></h1>
    <nav>
        <ul>
            <li data-section="about"><a href="{{site.baseurl}}/about">About Debra</a></li>
            <li data-section="work"><a href="{{site.baseurl}}/work">Work</a></li>
            <li data-section="contact"><a href="{{site.baseurl}}/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<div id="page">
    {{ content }}
</div>

</body>
</html>