---
layout: work
---

<article class="piece">
    <div class="info">
        <h1>{{ page.title }}</h1>
        <dl>
            <dt>Media</dt>
            <dd>{{ page.media }}</dd>
            <dt>Description</dt>
            <dd>{{ page.description }}</dd>
            <dt>Dimensions</dt>
            <dd>{{ page.dimensions }}</dd>
            <dt>Price</dt>
            <dd>{{ page.price }}</dd>
            <dt>Created</dt>
            <dd>{{ page.create_date }}</dd>
        </dl>
        <p class="buy"><a href="{{site.baseurl}}/contact">Buy</a></p>
        <nav><a href="{{site.baseurl}}/work/{{page.collection_}}">&larr; Back to Collection</a></nav>
    </div>
    <img src="{{site.baseurl}}/images/work/{{page.collection_}}/{{page.image}}">
</article>

{{ content }}